# Add your requirements here like:
# numpy
# scipy>=0.9
python-openstackclient
python-ironicclient
requests
python-ironic-inspector-client
deepdiff<=3.3.0; python_version < '3.0'
deepdiff; python_version >= '3.0'
jinja2

